body {
  background-color: #66bfbf;
  border: none;
  color: #407088;
  font-family: "Urbanist", sans-serif;
  margin: 100px auto;
  text-align: center;
  width: 650px;
}

body:hover {
  background-color: #fff6f6;
}

footer {
  font-size: 30px;
}

hr {
  color: #83cee0;
}

h4 {
  text-align: left;
}

.body {
  background-color: #ecfffb;
  border-color: #ecfffb;
  border-radius: 40px;
}

.body-2 {
  background-color: #deedf0;
  border-color: #deedf0;
  border-radius: 40px;
}

.btn {
  color: #1b335f;
}

.btn:hover {
  color: #ffcbcb;
}

.button {
  display: inline;
}

.city {
  color: #1b335f;
  font-family: "Urbanist", sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: left;
}

.city-2 {
  color: #1b335f;
  font-family: "Urbanist", sans-serif;
  font-size: 45px;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

.cloudy,
.cloudy-2 {
  color: #1b335f;
  font-family: "Urbanist", sans-serif;
  text-align: center;
}

.cloudy-2 {
  margin-bottom: 0;
  margin-right: 10px;
  text-align: right;
}

.dateTime {
  font-weight: 400;
  text-align: left;
}

.temp{
font-family: 'Yomogi', cursive;
color: #ffcbcb;
}

.earth {
  height: 15%;
  width: 15%;
}

.fmin,
.fmax,
.cmin,
.cmax {
  color: #1b335f;
  font-size: 15px;
  text-decoration: none;
}

.fminworld,
.fmaxworld,
.cminworld,
.cmaxworld {
  color: #1b335f;
  font-size: 10px;
  text-decoration: none;
}

.fmin:hover,
.fmax:hover,
.cmin:hover,
.cmax:hover {

  color: #ffcbcb;
  font-size: 20px;
  text-decoration: none;
}

.fminworld:hover,
.fmaxworld:hover,
.cminworld:hover,
.cmaxworld:hover {

  color: #ffcbcb;
  font-size: 15px;
  text-decoration: none;
}

.forecast {
  color: gray;
  margin-bottom: 0;
  margin-top: 30px;
  text-align: left;
}

.form-control {
  background: #fff6f6;
  border: none;
  color: white;
  display: inline;
  font-size: 16px;
  margin-left: 10px;
  padding: 15px;
  width: 70%;
}

.form-control:focus {
  background-color: #ffcbcb;
  color: gray;
}

.github {
  color: #ffcbcb;
  font-size: 15px;
  text-decoration: none;
}

.github:hover {
  color: white;
}

.icon {
  width: 70%;
}

.icon-2 {
  width: 40%;
}

.icon:hover,
.icon-2:hover {
  filter: hue-rotate(150deg) opacity(50%);
}

.icon1,
.icon1-2,
.icon2,
.icon2-2,
.icon3,
.icon3-2,
.icon4,
.icon4-2,
.icon5,
.icon5-2,
.icon6,
.icon6-2 {
  filter: grayscale(90%);
  width: 50%;
}

.icon1:hover,
.icon1-2:hover,
.icon2:hover,
.icon2-2:hover,
.icon3:hover,
.icon3-2:hover,
.icon4:hover,
.icon4-2:hover,
.icon5:hover,
.icon5-2:hover,
.icon6:hover,
.icon6-2:hover {
  filter: hue-rotate(150deg) opacity(50%);
  width: 70%;
}

.minmax,
.minmaxworld {
  color: gray;
  margin-top: 0;
}

.min,
.minworld,
.max,
.maxworld {
  color: #ffcbcb;
  font-weight: 300;
}

.pin {
  display: block;
  margin: 0 auto;
  width: 10%;
}

.pin:hover {
  filter: hue-rotate(400deg);
}

.Precipitationetc {
  color: gray;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  text-align: right;
}

.Precipitationetc-2 {
  color: gray;
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
}

.searchbox {
  display: inline;
}

.temperature {
  background-color: #fff6f6;
  color: #1b335f;
  font-size: 25px;
  font-weight: 600;
  margin-top: 1.5rem;
  text-align: left;
}

.text {
  background-color: #fff6f6;
  border-color: #fff6f6;
}

.text-2 {
  background-color: #fff6f6;
  border-color: #fff6f6;
  text-align: center;
}

.week {
  color: #005689;
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.world-icons {
  text-align: right;
}

#cel,
#cel-2 {
  color: #1b335f;
  text-decoration: none;
}

#cel:hover,
#cel-2:hover {
  color: #ffcbcb;
  font-size: 40px;
}

#far,
#far-2 {
  color: #1b335f;
  text-decoration: none;
}

#far:hover,
#far-2:hover {
  color: #ffcbcb;
  font-size: 40px;
}

#search {
  background-color: #1b335f;
  border-radius: 60px;
  border: none;
  color: #fff6f6;
  height: 50px;
  margin: auto;
  padding: 15px;
}

#search:hover {
  background-color: #ffcbcb;
}

#temperature {
  font-size: 40px;
}

#temperature-2 {
  font-size: 30px;
}

#temperature:hover,
#temperature-2:hover {
  color: #ffcbcb;
}
